body {
  background-color: rgb(255, 228, 247);
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: rgb(245, 187, 232);
  margin-top: 3rem;
}

.jumbotron img {
  width: 300px;
}

hr {
  width: 30%;
  margin: 0 auto;
}

section {
  padding-top: 30px;
}
