. {
  background-color: rgb(255, 228, 247);
  overflow: hidden;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: rgb(245, 187, 232);
  margin-top: 3rem;
}

.jumbotron img {
  width: 300px;
}

hr {
  width: 30%;
  margin: 0 auto;
}

section {
  padding: 100px 3px;
}

.fav {
  background-color: rgb(245, 187, 232);
  margin: 0 auto;
}

.carousel-inner {
  border-radius: 30%;
  border: 5px solid rgb(255, 228, 247);
}

.karosel {
  width: 80%;
  margin: 0 auto;
}

.karosel-bungkus {
  background-color: rgb(255, 228, 247);
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}

.gallery img {
  width: 50vmax;
}

.foot {
  background-color: rgb(243, 161, 243);
  padding: 40px;
  margin: 0 auto;
}

.foot i {
  color: red;
}

.musicplay {
  margin: auto;
  background-color: rgb(245, 187, 232);
}
.parent-play {
  width: 80vmin;
  margin: 0 auto;
}
.player img {
  width: 50vmin;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.musicplay .player {
  background-color: rgb(243, 161, 243);
  overflow: hidden;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.contact {
  margin: 0 auto;
  width: 60vmin;
}
